.checkout {
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    @media only screen and (max-width: 700px) {
        flex-direction: column-reverse;

        .product {
            width: 100%;
        }

        .button {
            width: 100%;
        }
    }


    .checkout-form {
        flex: 2;
        padding: 20px;

        .form-group {
            margin-bottom: 20px;
        }
    }

    .product {
        flex: 1;
        border: none;
        border-radius: 10px;
        box-shadow: none;

        .header .price {
            border-top-right-radius: 10px;
        }

    }
}

