
.blocked {
    display: inline-block;
}

.tempus-dominus-widget .date-container-days div:not(.no-highlight).disabled,  {
    background-color: indianred;
    color: white;
}

.tempus-dominus-widget .date-container-days div:not(.no-highlight) {
    color: white;
    background-color: lightgreen;
}

#create-walk-form, #create-walk-success, #create-walk-failed {
    padding: 50px 20px;
}

#create-walk-failed, #create-walk-success {
    display: none;
}

.checkout.create-walk {
    padding-bottom: 30px;

    @media only screen and (max-width: 900px) {
        flex-direction: column-reverse;

        .product {
            width: 100%;
        }

        .button {
            width: 100%;
        }
    }

    .checkout-form {
        flex: 1;
    }
    .product {

        flex: 1;

        h3 {
            text-align: center;
        }
        .body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
}
