html, body {
    margin: 0;
    height: 100%;
}

form {
    .form-group {

        .form-control, .form-select {
            border-color: $primaryColor;
        }
    }

    input[type=submit] {
        border: 1px solid black;
        border-radius: 30px;
        text-decoration: none;
        color: white;
        background-color: $primaryColor;
        padding: 10px 30px;

        &:hover {
            color: black
        }
    }

}


a.button {
    border: 1px solid black;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    background-color: $primaryColor;
    padding: 10px 30px;

    &:hover {
        color: black
    }
}

