.pending {
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 20px;


    @media only screen and (max-width: 700px) {
        flex-direction: column-reverse;
    }

    .card-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom: none;

        p {
            margin: auto;
        }
    }

    .card-body {
        text-align: center;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border: 2px solid rgba(0,0,0,.03);
    }

    .card {
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        min-width: 300px;
    }
}

