
.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    min-height: 80%;

    @media only screen and (max-width: 1000px) {
        flex-direction: column-reverse;

        .product {
            width: 100%;
        }

        .button {
            width: 100%;
        }
    }
}

.product {
    display: inline-block;
    border-color: black;
    border-width: 1px;
    border-style: solid;

    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .header {
        position: relative;
        height: 100px;

        .price {
            position: absolute;
            font-size: 40px;
            color: white;
            top: 0;
            right: 0;
            text-align: center;
            padding: 10px;
            background-color: $primaryColor;
        }
    }

    .body {
        .product-text {
            padding: 15px;
            width: 100%;
        }

        h5 {
            border-bottom: 1px solid black;
            width: 100%;
        }

        .button {
            display: flex;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            align-items: center;
        }
    }

    .product-image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 80%;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
        }
    }
}



