.list-group-item.active{
    background-color: #51BFA6 !important;
    border-color: #51BFA6 !important;
}
.vertical-navbar{
    background-color: #313a46;
}
.list-group-item{
    background-color: transparent !important;
}
.admin-board-bg{
    background-color: #fafbfe;
}
.content{
    z-index: 99;
}
.customer-board{
    background-color: #fafbfe;
    border: none;
}
.custom-card{
    border: none !important;
    -webkit-box-shadow: 0px 0px 7px -3px #000000;
    box-shadow: 0px 0px 7px -3px #000000;
}
.detail-btn{
    background-color: #51BFA6 !important;
    color: black !important;
}
.custom-submit-btn{
    background-color: transparent !important;
    border: 1px solid #51BFA6 !important;
    color: #51BFA6 !important;
    transition: .3s ease-in-out;
    width: 75vw !important;
    font-weight: 650 !important;
    font-size: 20px !important;
}
.custom-submit-btn:hover{
    background-color: #51BFA6 !important;
    border: 1px solid #51BFA6 !important;
    color: white !important;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.custom-submit-btn2{
    background-color: transparent !important;
    border: 1px solid #51BFA6 !important;
    color: #51BFA6 !important;
    transition: .3s ease-in-out;
    width: 100% !important;
    font-weight: 650 !important;
    font-size: 20px !important;
}
.custom-submit-btn2:hover{
    background-color: #51BFA6 !important;
    border: 1px solid #51BFA6 !important;
    color: white !important;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.delete-btn{
    background-color: transparent !important;
    border:  transparent !important;
    color: red !important;
    transition: .3s ease-in-out !important;
}

.delete-btn:hover{
    background-color: red !important;
    border: transparent !important;
    color: white !important;
}

.ryan {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.ryan:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.ryan:focus {
    outline: none;
}

.ryan.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

