html, body {
  margin: 0;
  height: 100%;
}

form .form-group .form-control, form .form-group .form-select {
  border-color: #51BFA6;
}
form input[type=submit] {
  border: 1px solid black;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  background-color: #51BFA6;
  padding: 10px 30px;
}
form input[type=submit]:hover {
  color: black;
}

a.button {
  border: 1px solid black;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  background-color: #6fbda7;
  padding: 10px 30px;
}
a.button:hover {
  color: black;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  min-height: 80%;
}

.product {
  display: inline-block;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product .header {
  position: relative;
  height: 100px;
}
.product .header .price {
  position: absolute;
  font-size: 40px;
  color: white;
  top: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  background-color: #6fbda7;
}
.product .body .product-text {
  padding: 15px;
  width: 100%;
}
.product .body h5 {
  border-bottom: 1px solid black;
  width: 100%;
}
.product .body .button {
  display: flex;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.product .product-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .product-image img {
  width: 80%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.checkout {
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.checkout .checkout-form {
  flex: 2;
  padding: 20px;
}
.checkout .checkout-form .form-group {
  margin-bottom: 20px;
}
.checkout .product {
  flex: 1;
  border: none;
  border-radius: 10px;
  box-shadow: none;
}
.checkout .product .header .price {
  border-top-right-radius: 10px;
}
