.contact-close-btn{
    background-color: transparent !important;
    border:  transparent !important;
}

.contact-submit-btn{
    background-color: #51BFA6 !important;
    border: 1px solid #51BFA6 !important;
    color: white !important;
    transition: .3s ease-in-out;
    width: 10vw !important;
    font-weight: 650 !important;
    font-size: 20px !important;
}
.contact-submit-btn:hover{
    background-color: #137ace !important;
    border: 1px solid #0d3c64 !important;
    color: white !important;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.h4{
    font-family: "Times New Roman", Times, serif;
    font-size: 40px !important;
    color: #009666 !important;

}
