.main-nav{
    -webkit-box-shadow: 0px 10px 11px -3px #000000;
    box-shadow: 0px 10px 11px -3px #000000;
    z-index: 100;
    background-color: white !important;
}
a.nav-link{
    font-family: Rancho, 'sans-serif';
    font-size: 75px;
    background-color: transparent;
    background-repeat: repeat-x;
    background-size: 100%;
    padding-left: 10px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}
a.nav-link:hover{
    font-family: Rancho, 'sans-serif';
    font-size: 75px;
    border-bottom: 3px solid #51BFA6;
    color: #494949 !important;
}
a.nav-link.active{
    color: #363636 !important;
    text-shadow: 0px 4px 6px #51BFA6;
    border-bottom: 3px solid #51BFA6;
}

.login-btn{
    background-color: transparent;
    color: rgba(0,0,0,.55) !important;
    font-size: 75px;
    text-decoration: none;
    border: 2px solid #51BFA6;
    border-radius: 50px;
    font-family: Rancho, 'sans-serif';
    transition: .3s color ease-in-out, .3s background-color ease-in-out;
}
.login-btn:hover{
    background-color: #51BFA6;
    color: white !important;
    font-size: 75px;
    text-decoration: none;
    border: 2px solid #51BFA6;
    border-radius: 50px;
    font-family: Rancho, 'sans-serif';
}
.account-item{
    font-family: Rancho, 'sans-serif';
}

@media screen and (min-width: 768px){
    a.nav-link{
        font-size: 32px !important;
    }
    .login-btn{
        font-size: 32px !important;
    }
    .account-item{
        font-size: 28px !important;
    }
    .account-dropdown{
        display: inline-block !important;
    }
    .dropdown-menu.show{
        right: -50px !important;
        left: -50px !important;
        text-align: center !important;
    }
}

@media screen and (max-width: 768px){
    a.nav-link{
        font-size: 17px !important;
    }
    .login-btn{
        font-size: 17px !important;
    }
    .account-item{
        font-size: 17px !important;
    }
    .account-dropdown{
        display: inline-block !important;
    }
    .dropdown-menu.show{
        right: -50px !important;
        left: -50px !important;
        text-align: center !important;
    }
}

@media screen and (max-width: 576px){
    a.nav-link{
        font-size: 32px !important;
    }
    .login-btn{
        font-size: 32px !important;
    }
    .account-item{
        font-size: 28px !important;
    }
    .account-dropdown{
        display: inline-block !important;
    }
    .dropdown-menu.show{
        right: -50px !important;
        left: -50px !important;
        text-align: center !important;
    }
}

@media screen and (min-width: 1024px){
    a.nav-link{
        font-size: 36px !important;
    }
    .login-btn{
        font-size: 36px !important;
    }
    .account-item{
        font-size: 32px !important;
    }
    .account-dropdown{
        display: inline-block !important;
    }
    .dropdown-menu.show{
        right: -50px !important;
        left: -50px !important;
        text-align: center !important;
    }
}
