.register-card{
    -webkit-box-shadow: 0px 11px 23px 3px rgba(0,0,0,0.74);
    box-shadow: 0px 11px 23px 3px rgba(0,0,0,0.74);
    border: 1px solid black;
    border-radius: 15px;
}
.dog-add-btn{
    border: 1px solid #51BFA6 !important;
    border-radius: 50px !important;
    font-size: 5vh !important;
    padding-left: 4vh !important;
    padding-right: 4vh !important;
    padding-top: 2vh !important;
    padding-bottom: 2vh !important;
}
@media only screen and (min-width: 992px) {
    .dog-field{
        border-left: 1px solid grey;
    }
}
