html, body {
  margin: 0;
  height: 100%;
}

form .form-group .form-control, form .form-group .form-select {
  border-color: #6fbda7;
}
form input[type=submit] {
  border: 1px solid black;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  background-color: #6fbda7;
  padding: 10px 30px;
}
form input[type=submit]:hover {
  color: black;
}

a.button {
  border: 1px solid black;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  background-color: #6fbda7;
  padding: 10px 30px;
}
a.button:hover {
  color: black;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  min-height: 80%;
}
@media only screen and (max-width: 1000px) {
  .main {
    flex-direction: column-reverse;
  }
  .main .product {
    width: 100%;
  }
  .main .button {
    width: 100%;
  }
}

.product {
  display: inline-block;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product .header {
  position: relative;
  height: 100px;
}
.product .header .price {
  position: absolute;
  font-size: 40px;
  color: white;
  top: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  background-color: #6fbda7;
}
.product .body .product-text {
  padding: 15px;
  width: 100%;
}
.product .body h5 {
  border-bottom: 1px solid black;
  width: 100%;
}
.product .body .button {
  display: flex;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.product .product-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .product-image img {
  width: 80%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.checkout {
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media only screen and (max-width: 700px) {
  .checkout {
    flex-direction: column-reverse;
  }
  .checkout .product {
    width: 100%;
  }
  .checkout .button {
    width: 100%;
  }
}
.checkout .checkout-form {
  flex: 2;
  padding: 20px;
}
.checkout .checkout-form .form-group {
  margin-bottom: 20px;
}
.checkout .product {
  flex: 1;
  border: none;
  border-radius: 10px;
  box-shadow: none;
}
.checkout .product .header .price {
  border-top-right-radius: 10px;
}

.blocked {
  display: inline-block;
}

.tempus-dominus-widget .date-container-days div:not(.no-highlight).disabled {
  background-color: indianred;
  color: white;
}

.tempus-dominus-widget .date-container-days div:not(.no-highlight) {
  color: white;
  background-color: lightgreen;
}

#create-walk-form, #create-walk-success, #create-walk-failed {
  padding: 50px 20px;
}

#create-walk-failed, #create-walk-success {
  display: none;
}

.checkout.create-walk {
  padding-bottom: 30px;
}
@media only screen and (max-width: 900px) {
  .checkout.create-walk {
    flex-direction: column-reverse;
  }
  .checkout.create-walk .product {
    width: 100%;
  }
  .checkout.create-walk .button {
    width: 100%;
  }
}
.checkout.create-walk .checkout-form {
  flex: 1;
}
.checkout.create-walk .product {
  flex: 1;
}
.checkout.create-walk .product h3 {
  text-align: center;
}
.checkout.create-walk .product .body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pending {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 20px;
}
@media only screen and (max-width: 700px) {
  .pending {
    flex-direction: column-reverse;
  }
}
.pending .card-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom: none;
}
.pending .card-header p {
  margin: auto;
}
.pending .card-body {
  text-align: center;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.03);
}
.pending .card {
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 300px;
}
